<?xml version="1.0" encoding="utf-8" ?>
<BehaviorSettings>
	<FieldSettings>
		
    <Field Name="HomeLoad" Page="Home" Element="" Event="Load" Enable="1" Explain="首页加载"/>
    <Field Name="HomeSearch" Page="Home" Element="" Event="Change" Enable="1" Explain="首页搜索" />
    <Field Name="HomeCity" Page="Home" Element="" Event="Click" Enable="1" Explain="首页查找酒店城市筛选"/>
    <Field Name="HomeTheme" Page="Home" Element="" Event="Click" Enable="1" Explain="首页查找酒店主题筛选"/>
    <Field Name="HomeFindHotel" Page="Home" Element="" Event="Click" Enable="1" Explain="首页查找酒店按钮"/>
    <Field Name="HomeThemeHotel" Page="Home" Element="" Event="Click" Enable="1" Explain="首页周边主题酒店筛选"/>
    <Field Name="HomeScenicHotel" Page="Home" Element="" Event="Click" Enable="1" Explain="首页周边景区酒店筛选"/>

    <Field Name="HotelListLoad" Page="HotelList" Element="" Event="Load" Enable="1" Explain="酒店列表页加载"/>
    <Field Name="HotelListSearch" Page="HotelList" Element="" Event="Change" Enable="1" Explain="酒店列表页搜索" />
    <Field Name="AppHotelListLoad" Page="AppHotelListLoad" Element="" Event="Load" Enable="1" Explain="H5Magicall的Hello页加载"/>

    <Field Name="HotelLoad" Page="Hotel" Element="" Event="Load" Enable="1" Explain="酒店页加载"/>
    <Field Name="HotelSearch" Page="Hotel" Element="" Event="Change" Enable="1" Explain="酒店页搜索" />
    <Field Name="AppHotelLoad" Page="AppHotel" Element="" Event="Load" Enable="1" Explain="App酒店页加载"/>

    <Field Name="ReviewsLoad" Page="Reviews" Element="" Event="Load" Enable="1" Explain="酒店点评页加载"/>
    <Field Name="ReviewsSearch" Page="Reviews" Element="" Event="Change" Enable="1" Explain="酒店点评页搜索"/>
    
    <Field Name="MapLoad" Page="Map" Element="" Event="Load" Enable="1" Explain="酒店地图页加载"/>
    <Field Name="MapSearch" Page="Map" Element="" Event="Change" Enable="1" Explain="酒店地图页搜索"/>
    
    <Field Name="PhotosLoad" Page="Photos" Element="" Event="Load" Enable="1" Explain="酒店照片页加载"/>
    <Field Name="PhotosSearch" Page="Photos" Element="" Event="Load" Enable="1" Explain="酒店照片页搜索"/>
    
    <Field Name="PackageLoad" Page="Package" Element="" Event="Load" Enable="1" Explain="酒店套餐页加载"/>
    <Field Name="PackageSearch" Page="Package" Element="" Event="Change" Enable="1" Explain="酒店套餐页搜索" />
    
    <Field Name="BookLoad" Page="Book" Element="" Event="Load" Enable="1" Explain="酒店预订页加载"/>
    <Field Name="BookSearch" Page="Book" Element="" Event="Change" Enable="1" Explain="酒店预订页搜索"/>
    
    <Field Name="Submit" Page="Submit" Element="" Event="Submit" Enable="1" Explain="订单提交"/>
    
    <Field Name="PaymentCompleteLoad" Page="PaymentComplete" Element="" Event="Load" Enable="1" Explain="支付完成页加载"/>
    <Field Name="PaymentCompleteSearch" Page="PaymentComplete" Element="" Event="Change" Enable="1" Explain="支付完成页搜索"/>
    <Field Name="PaymentCancelLoad" Page="PaymentCancel" Element="" Event="Load" Enable="1" Explain="支付取消页加载"/>
    <Field Name="PaymentCancelSearch" Page="PaymentCancel" Element="" Event="Change" Enable="1" Explain="支付取消页搜索"/>

    
    <Field Name="CouponShopLoad" Page="CouponShop" Element="" Event="Load" Enable="1" Explain="房券页加载"/>
    <Field Name="CouponShopSubmit" Page="SubmitConpon" Element="" Event="Submit" Enable="1" Explain="房券提交"/>
    <Field Name="CouponShopPaymentComplete" Page="PayComplete" Element="" Event="Load" Enable="1" Explain="房券购买成功页"/>

    <Field Name="CouponProductLoad" Page="CouponShopForProduct" Element="" Event="Load" Enable="1" Explain="消费券页加载"/>
    <Field Name="CouponProductSubmit" Page="SubmitConponForProduct" Element="" Event="Submit" Enable="1" Explain="消费券提交"/>
    <Field Name="CouponProductPaymentComplete" Page="PayComplete" Element="" Event="Load" Enable="1" Explain="消费券购买成功页"/>

    <Field Name="CouponProductForGroupLoad" Page="CouponShopForGroupProduct" Element="" Event="Load" Enable="1" Explain="手拉手产品加载"/>
    <Field Name="CouponProductForGroupSubmit" Page="SubmitConponForGroupProduct" Element="" Event="Submit" Enable="1" Explain="手拉手产品提交"/>
    <Field Name="CouponProductForGroupPaymentComplete" Page="PayComplete" Element="" Event="Load" Enable="1" Explain="消费券购买成功页"/>

    
    <Field Name="MorePackageListLoad" Page="MorePackageList" Element="" Event="Load" Enable="1" Explain="套餐专辑页加载"/>
    <Field Name="MoreProductListLoad" Page="MoreProductList" Element="" Event="Load" Enable="1" Explain="产品专辑页加载"/>

    <Field Name="VipShopInfoLoad" Page="VipShopInfo" Element="" Event="Load" Enable="1" Explain="成为VIP页加载"/>
    <Field Name="SubmitVipConpon" Page="SubmitVipConpon" Element="" Event="Submit" Enable="1" Explain="成为VIP提交"/>
    <Field Name="PayCompleteForVip" Page="PayCompleteForVip" Element="" Event="Load" Enable="1" Explain="购买VIP成功页加载"/>
    
    <Field Name="UserRecommend2Load" Page="UserRecommend2" Element="" Event="Load" Enable="1" Explain="邀请好友页加载"/>

    <Field Name="sendConfirmSMSForWxapp" Page="Accounts" Element="" Event="Send" Enable="1" Explain="验证码发送（微信小程序）"/>
    <Field Name="sendConfirmSMS" Page="Accounts" Element="" Event="Send" Enable="1" Explain="验证码发送"/>

    <Field Name="GetBoutiqueAndAroundCityList" Page="GetBoutiqueAndAroundCityList" Element="" Event="Load" Enable="1" Explain="搜索页周边精选加载"/>
    <Field Name="GetSearchRecordList4App" Page="GetSearchRecordList4App" Element="" Event="Load" Enable="1" Explain="搜索页搜索记录加载"/>
    <Field Name="SearchCityAndHotel" Page="SuggestCityAndHotel" Element="" Event="Search" Enable="1" Explain="APP/H5城市酒店搜索"/>

    <Field Name="H5HomeLoad" Page="H5Home" Element="" Event="Load" Enable="1" Explain="H5首页加载"/>
    <Field Name="H5FollowLoad" Page="H5Follow" Element="" Event="Load" Enable="1" Explain="H5朋友页加载"/>
    <Field Name="H5FollowHotLoad" Page="H5FollowHot" Element="" Event="Load" Enable="1" Explain="H5大家推荐页加载"/>
    <Field Name="H5FollowScrollLoad" Page="H5FollowScroll" Element="" Event="Scroll" Enable="1" Explain="H5朋友页滚动加载"/>
    <Field Name="H5MgcHelloLoad" Page="H5MgcHello" Element="" Event="Load" Enable="1" Explain="H5Magicall的Hello页加载"/>
    <Field Name="H5WellLoad" Page="H5Well" Element="" Event="Load" Enable="1" Explain="H5上海及周边页加载"/>
  
  </FieldSettings>
</BehaviorSettings>