<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MagiCallDB" connectionString="Server=whotel;UID=sa;password=password01!;database=MagiCallDB;" providerName="System.Data.SqlClient" />
  <add name="CtripDB" connectionString="Server=whotel;UID=sa;password=password01!;database=CtripDB;" providerName="System.Data.SqlClient" />
  <add name="CtripProductDB" connectionString="Server=whotel;UID=sa;password=password01!;database=CtripDB_Test;" providerName="System.Data.SqlClient" />
  <add name="HotelDB" connectionString="Server=whotel;UID=sa;password=password01!;database=HotelDB;" providerName="System.Data.SqlClient" />
  <add name="HotelBizDB" connectionString="Server=whotel;UID=sa;password=password01!;database=HotelBizDB;" providerName="System.Data.SqlClient" />
  <add name="CommDB" connectionString="Server=whotel;UID=sa;password=password01!;database=CommDB;"   providerName="System.Data.SqlClient" />
  <add name="DestDB" connectionString="Server=whotel;UID=sa;password=password01!;database=DestDB;"   providerName="System.Data.SqlClient" />
  <add name="CommentDB" connectionString="Server=whotel;UID=sa;password=password01!;database=CommentDB;"   providerName="System.Data.SqlClient" />
</connectionStrings>