@*@{
    ViewBag.Title = "PayCompleteInvoice";
}*@

@using WHotelSite
@using WHotelSite.Params.Hotel
@using WHotelSite.Params.Payment

@{
    ViewBag.Title = "支付成功";
}

<link href="~/Content/css/coupon/paycompleteinvoice.css?v=@(Helpers.curAppVer())" rel="stylesheet" />

<div class="fpalert-section">
    <div class="icon zmjd-iconfont">&#xe62f;</div>
    <div class="text">支付成功</div>
</div>

<div class="fpfoot-section">
    <a href="tel:4000021702" class="tel">客服电话：4000-021-702</a>
</div>




