<?xml version="1.0" encoding="utf-8"?>

<client>
   
    <endpoint address="http://192.168.2.21:8090/SearchTipAPIService"
        binding="wsHttpBinding" name="wsHttpBinding_ISearchTipAPI"
        contract="HJD.Search.Contracts.ISearchTipAPI" />
  
   
    <endpoint name="BasicHttpBinding_IAccountService"
      binding="basicHttpBinding" contract="HJD.AccountServices.Contracts.IAccountService"
      address="http://service1.dev.hjd.corp:8010/AccountSvc/AccountServices.svc" />

  <endpoint name="IJobAssistantService"
     binding="basicHttpBinding" contract="HJD.Contracts.IJobAssistantService"
     address="http://service1.whotel.com:8010/JobAssistant/JobAssistantService.svc" />
  
 <endpoint address="http://service2.dev.hjd.corp:8020/PhotoSvc/PhotoService.svc"
      binding="basicHttpBinding"
      contract="HJD.PhotoServices.Contracts.IPhotoService" name="BasicHttpBinding_IPhotoService" />
 
   
   <endpoint name="BasicHttpBinding_IDestService"
      binding="basicHttpBinding" contract="HJD.DestServices.Contract.IDestService"
      address="http://service1.dev.hjd.corp:8010/DestSvc/DestService.svc" />

<endpoint address="http://service1.dev.hjd.corp:8010/HotelSvc/HotelService.svc"
    binding="basicHttpBinding" contract="HJD.HotelServices.Contracts.IHotelService"
    name="BasicHttpBinding_IHotelService" />


<endpoint address="http://service1.dev.hjd.corp:8010/HotelPriceSvc/HotelPriceService.svc"
          binding="basicHttpBinding" contract="HJD.HotelPrice.Contract.IHotelPriceService"
          name="BasicHttpBinding_IHotelPriceService" /> 
  
  <endpoint address="http://service2.dev.hjd.corp:8020/EmailSvc/EmailService.svc"
            binding="basicHttpBinding" contract="HJD.EmailServices.Contracts.IEmailService"
            name="BasicHttpBinding_IEmailService"/>
</client>

<!--<client>
  <endpoint address="http://100.9.0.120:8090/SearchTipAPIService"
      binding="wsHttpBinding" name="wsHttpBinding_ISearchTipAPI"
      contract="HJD.Search.Contracts.ISearchTipAPI" />

  <endpoint address="http://service1.whotel.com:8010/PhotoSvc/PhotoService.svc"
    binding="basicHttpBinding"
    contract="HJD.PhotoServices.Contracts.IPhotoService" name="BasicHttpBinding_IPhotoService" />

  <endpoint name="BasicHttpBinding_IAccountService"
    binding="basicHttpBinding" contract="HJD.AccountServices.Contracts.IAccountService"
    address="http://service1.whotel.com:8010/AccountSvc/AccountServices.svc" />

  <endpoint name="BasicHttpBinding_IDestService"
    binding="basicHttpBinding" contract="HJD.DestServices.Contract.IDestService"
    address="http://service1.whotel.com:8010/DestSvc/DestService.svc" />

  <endpoint address="http://service1.whotel.com:8010/HotelService/HotelService.svc"
     binding="basicHttpBinding" contract="HJD.HotelServices.Contracts.IHotelService"
     name="BasicHttpBinding_IHotelService" />

  <endpoint address="http://service1.whotel.com:8010/HotelPriceSvc/HotelPriceService.svc"
          binding="basicHttpBinding" contract="HJD.HotelPrice.Contract.IHotelPriceService"
          name="BasicHttpBinding_IHotelPriceService"/>
</client>-->


