<?xml version="1.0" encoding="utf-8" ?>
<cacheSetConfiguration>
  <cacheSets>
    <!--  缓存集定义  -->
     <cacheSet name="HotelInfoCache" cacheManager="CacheManager1" TimeExpire="60"  ExpireType="2"  ItemPriority="2"/>
    <cacheSet name="HotelReviewCache" cacheManager="CacheManager1" TimeExpire="60"  ExpireType="2"  ItemPriority="2"/>
    <cacheSet name="NewestHotelReviewCache" cacheManager="CacheManager1" TimeExpire="60"  ExpireType="2"  ItemPriority="2"/>
    <cacheSet name="SOAHotelReviewCache" cacheManager="CacheManager1" TimeExpire="60"  ExpireType="2"  ItemPriority="2"/>
    <cacheSet name="HotelListPriceCache" cacheManager="CacheManager1" TimeExpire="60"  ExpireType="2"  ItemPriority="2"/>
    <cacheSet name="HotelCtripPackageCache" cacheManager="CacheManager1" TimeExpire="10"  ExpireType="2"  ItemPriority="2"/>
    <cacheSet name="HolidaysCache" cacheManager="CacheManager1" TimeExpire="60"  ExpireType="2"  ItemPriority="2"/>
  </cacheSets>
</cacheSetConfiguration>