<?xml version="1.0" encoding="utf-8" ?>

<cachingConfiguration defaultCacheManager="CacheManager">
  <cacheManagers>
    <!--expirationPollFrequencyInSeconds:过期检查频率(S)
				maximumElementsInCacheBeforeScavenging:最多可以缓存的对象数，超过时触发清除事件
				numberToRemoveWhenScavenging:清除时按优先级，清除掉优先级低的多少项
				backingStoreName:备份缓存的数据（辅助存储器 Backing Storage），备份保存在那里？默认备份不缓存。
				系统默认提供了三种备份缓存存储方式
				不缓存:Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore
				缓存在数据库中: Microsoft.Practices.EnterpriseLibrary.Caching.Database.DataBackingStore
				(注意，这个类在 microsoft.practices.enterpriselibrary.caching.database.dll 文件中)
				缓存在一个隔离新的独立空间:Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore-->

    <add name="CacheManager1" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, 
				 Microsoft.Practices.EnterpriseLibrary.Caching"
              expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
              numberToRemoveWhenScavenging="10" backingStoreName="APINullBackingStore" />
 </cacheManagers>
  <backingStores>
    <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
              name="APINullBackingStore" />
  </backingStores>

  
</cachingConfiguration>