<?xml version="1.0" encoding="utf-8"?>

<memcacheManagerConfiguration>
  <Servers name="CacheManager1" SendReceiveTimeout="1000" ConnectTimeout="1000">
    <Server ip="120.26.203.234" port="11212"/>
  </Servers>
  <Servers name="CacheManager2">
    <Server ip="120.26.203.234" port="11212"/>
    <Server ip="120.26.203.234" port="11212"/>
  </Servers>
</memcacheManagerConfiguration>
