<?xml version="1.0" encoding="utf-8"?>

<memcacheSetConfiguration>
  <cacheSets>
    <!--  缓存集定义  -->
    <!--  ExpireType 仅在模拟企业库过期机制时才有效  -->
    <cacheSet name="HotelInfoCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="HotelReviewCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="NewestHotelReviewCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="SOAHotelReviewCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="HotelListPriceCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="HotelCtripPackageCache" cacheManager="CacheManager1" TimeExpire="3"/>
    <cacheSet name="HolidaysCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="HotelPricePlanCache" cacheManager="CacheManager1" TimeExpire="120"/>
    <cacheSet name="HotelPriceUpdateCache" cacheManager="CacheManager1" TimeExpire="10"/>
    <cacheSet name="HotelURLCache" cacheManager="CacheManager1" TimeExpire="6000"/>
    <cacheSet name="HolidayPackageCache" cacheManager="CacheManager1" TimeExpire="60"/>
    <cacheSet name="CtripRoomIdxCache" cacheManager="CacheManager1" TimeExpire="1440"/>
  </cacheSets>
</memcacheSetConfiguration>