@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Error</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <style type="text/css">
        .error-panel {
            width: 100%;
            line-height: 2.2em;
            margin: 6em 0 5em 0;
            color: #999;
            text-align: center;
        }

            .error-panel .logo {
                width: auto;
                margin: 0 auto 0 auto;
            }

                .error-panel .logo img {
                    width: 5em;
                }

            .error-panel .txt {
                width: auto;
                height: 1.6em;
                line-height: 1.6em;
                margin: 0 auto 0.23em auto;
                font-size: 1.2em;
                color: #000;
            }

            .error-panel .txt2 {
                width: auto;
                height: 1.5em;
                line-height: 1.5em;
                margin: 0 auto 0 auto;
                font-size: 0.8em;
                color: #aaa;
            }

            .error-panel .link {
                width: auto;
                margin: 0 auto 0 auto;
            }

                .error-panel .link a {
                    width: 8.2em;
                    height: 2.6em;
                    line-height: 2.6em;
                    display: inline-table;
                    background: #28b891;
                    border: 1px solid #28b891;
                    border-radius: 3px;
                    color: #fff;
                    font-size: 1.1em;
                    text-decoration: none;
                    margin: 1.2em 0 0 0;
                }
    </style>

    <div class="error-panel">
        <div class="logo"><img src="\Content\images\404.png" /></div>
        <div class="txt">哎呀 迷路了</div>
        <div class="txt2">你可能需要检查网络信号</div>
        <div class="txt2">或者页面已经无法找到</div>
        <div class="link">
            <a href="/Account/WxMenuTransfer?menu=7">回到起点</a>
        </div>
    </div>
</body>
</html>
