body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background:#f0f0f0;
    -webkit-user-select:none; 
    user-select: none;
    font-family:Arial;
}

a {
    text-decoration:none;
}

/*禁止长按链接与图片弹出菜单*/
a,img { -webkit-touch-callout: none }

/**/

.collection-panel {
    width:100%;
    max-width:600px;
    height:auto;
    margin:0 auto 0 auto;
    padding:0 0 1em 0;
    background:#fff;
}
    .collection-panel .pic{
        width:100%;
        height:auto;
    }
        .collection-panel .pic img{
            width:100%;
        }
    .collection-panel .tit{
        width:90%;
        height:auto;
        margin:0 auto 0 auto;
        padding:0.8em 0 0.8em 0;
        text-align:left;
        font-size:1.8em;
        font-weight:bold;
        color:#474747;
    }
    .collection-panel .tit2{
        width:90%;
        height:auto;
        margin:0 auto 0 auto;
        padding:0 0 1em 0;
        text-align:center;
        font-size:1em;
        font-family:Arial;
        color:#555555;
    }
    .collection-panel .desc{
        width:90%;
        height:auto;
        line-height:1.5em;
        margin:0 auto 0 auto;
        padding:0 0 0.5em 0;
        font-size:1em;
        color:#474747;
    }
    .collection-panel .desc1{
        width:90%;
        height:auto;
        line-height:1.5em;
        margin:0 auto 0 auto;
        padding:1em 0 0.15em 0;
        font-size:1em;
        color:#474747;
    }
.list-panel {
    width:100%;
    max-width:600px;
    height:auto;
    background:#fff;
    margin:0 auto 0 auto;
}
.list-panelboder {
    border-top:1px solid #e0e0e0;
}
.list-panel .sdiv {
    min-height: 1.5em;
}
    .list-panel .sdiv .selectstartdistrict {
        width: 95%;
        margin: 0;
        background: #FFFFFF;
        padding: 0 0 0 5%;
        /*height: 2.5em;
        line-height: 3.6em;*/
    }
        .list-panel .sdiv .selectstartdistrict .districtspan {
            border: 1px solid #E0E0E0;
            color: #2C2C2C;
            padding: 0.5em 0.75em 0.5em 0.75em;
            font-size: 0.9em;
            border-radius: 2px;
            /*font-family: Arial;*/
        }
        .list-panel .sdiv .selectstartdistrict .selectedcity {
            background-color: #3E9EC0;
            color: #FFFFFF;
            box-shadow: 0px 2px 3px rgba(62, 158, 192, 0.48);
            border: #3E9EC0;
        }
.filter-section-fixed {
    position: fixed;
    top: 0;
    z-index: 150;
    padding: 1em 0 1em 5% !important;
    background: #fff;
}

    .list-panel .list{
        width:100%;
        height:auto; 
        padding-bottom: 2em;
    }
        .list-panel .list .item{
            width:90%;
            height:auto;
            margin:0 auto 0 auto;
            padding:1.5em 0 0 0;
            border-bottom:1px solid #e0e0e0;
        }
            .list-panel .list .item .around{
                width:100%;
                height:auto;
                margin:0 auto 0 auto;
                padding:0 0 1em 0;
            }
                .list-panel .list .item .around .tit{
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:0 0 1.2em 0;
                    font-size:1.3em;
                    font-weight:bold;
                    /*font-family:Arial;*/
                    color:#474747;
                    text-align:left;
                }
                .list-panel .list .item .around .left{
                    width:78%;
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:0.95em 0 0.7em 0;
                    float:left;
                    position:relative;
                }
                .list-panel .list .item .around .left1{
                    width:75%;
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:0.95em 0 0 0;
                    float:left;
                    position:relative;
                }
                    .list-panel .list .item .around .left .tit1{
                        width:95%;
                        height:auto;
                        line-height:1.3em;
                        padding:0 0 0.2em 0;
                        font-size:1.2em;
                        color:#474747;
                    }
                    .list-panel .list .item .around .left1 .price{
                        width:95%;
                        height:auto;
                        line-height:0.7em;
                        padding:0 0 0.2em 0;
                        font-size:1.2em;
                        color:#fe8225;
                        /*font-weight:bold;*/
                    }
                    .list-panel .list .item .around .left1 .price span{
                        font-size:0.6em;
                    }
                    .list-panel .list .item .around .left .brief1{
                        width:95%;
                        height:auto;
                        line-height:1.3em;
                        padding:0 0 0 0;
                        font-size:0.9em;
                        font-family:Arial;
                        color:#919191;
                    }
                .list-panel .list .item .around .right{
                    width:21%;
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:0.6em 0em 0.7em 0;
                    float:right;
                    text-align:right;
                    color:#fe8225;
                    font-size:1.2em;
                    font-family:Arial;
                    position:relative;
                }
                    .list-panel .list .item .around .right .p-un{
                        font-size: 1em;
                        letter-spacing:-3px;
                    }
                    .list-panel .list .item .around .right .go{
                        width:100%;
                        height:auto;
                        margin:0.2em auto 0 auto;
                        padding:0.4em 0.1em 0.4em 0;
                        display:table;
                        float:right;
                        position:relative;
                        background:#fe8225;
                        border:1px solid #fe8225;
                        border-radius:2px;
                        text-align:center;
                        color:#fff;
                        font-size:0.9em;
                        font-family:Arial;
                    }
                .list-panel .list .item .around .right1{
                    /*width:35%;*/
                    height:auto;
                    margin:0 auto 0 auto;
                    /*padding:0.6em 0em 0.7em 0;*/
                    float:right;
                    text-align:right;
                    color:#fe8225;
                    font-size:1em;
                    font-family:Arial;
                    position:relative;
                }
                    .list-panel .list .item .around .right1 .gobook {
                        width:5em;
                        height:auto;
                        margin:0.2em auto 0 auto;
                        padding:0.4em 0.1em 0.4em 0;
                        display:table;
                        float:right;
                        position:relative;
                        background:#fe8225;
                        border:1px solid #fe8225;
                        border-radius:2px;
                        text-align:center;
                        color:#fff;
                        font-size:0.8em;
                        font-family:Arial;
                    }
                .list-panel .list .item .around .t1{
                    width:98%;
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:1em 0 0.4em 0;
                    text-align:center;
                    font-size:1.1em;
                    color:#000;
                }
                .list-panel .list .item .around .t1-left{
                    width:100%;
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:1em 0 0 0;
                    text-align:left;
                    font-size:1.1em;
                    color:#000;
                }
                    .list-panel .list .item .around .t1-left .t-right-price{
                        margin:0 0.1em 0 0;
                        float:right;
                        color:#fe8225;
                        font-size:1.1em;
                        font-family:Arial;
                    }
                        .list-panel .list .item .around .t1-left .t-right-price span{
                            margin:0 0 0 0;
                            padding:0 0 0 0;
                            font-size:0.9em;
                            letter-spacing:-3px;
                        }
                .list-panel .list .item .around .brief{
                    width:100%;
                    height:auto;
                    margin: 0 auto 0 auto;
                    padding:0.1em 0 0.8em 0;
                    text-align:left;
                    font-size:0.9em;
                    font-family:Arial;
                    color:#555;
                }
                .list-panel .list .item .around .t2{
                    width:10em;
                    height:auto;
                    margin: 0 auto 0 auto;
                    padding:0.5em 0 0.55em 0;
                    border-top:2px solid #2c2c2c;
                    text-align:center;
                    font-size:1em;
                    font-family:Arial;
                    color:#2c2c2c;
                }
                .list-panel .list .item .around .pic{
                    width:100%;
                    height:auto;
                    position: relative;
                }
                .list-panel .list .item .around .area{
                    position: absolute;
                    top: 1em;
                    left: 1em;
                    border: 1px solid #FFFFFF;
                    font-size: 0.75em;
                    padding: 0.2em 0.5em 0.2em 0.5em;
                    background: rgba(0,0,0,0.36);
                    color: #FFFFFF;
                    border-radius: 2px;
                }
                    .list-panel .list .item .around .pic img{
                        width:100%;
                    }
                .list-panel .list .item .around .packagedesc {
                    font-size: 1em;
                    font-weight: bold;
                    margin: 1.1em 0 -0.3em 0;
                }

                .list-panel .list .item .around .pic-margintop{
                    margin-top:1em;
                }
                .list-panel .list .item .around .info{
                    line-height:1.6em;
                    margin:0 0 0 0;
                    padding:1em 0 0.2em 0;
                    font-size:1em;
                    color:#474747;
                }
                .list-panel .list .item .around .info1{
                    line-height:1.6em;
                    margin:0 0 0 0;
                    padding:1em 0 0.2em 0;
                    font-size:1em;
                    color:#515151;
                }
                
                .list-panel .list .item .around .infonew {
                    line-height:1.6em;
                    margin:0 0 0 0;
                    padding:0 0 0.2em 0;
                    font-size:0.8em;
                    color:#919191;
                }

                .list-panel .list .item .around .border{
                    width: 4.5em;
                    margin: 1.5em 0 0.5em 0;
                    border-bottom: 1px solid #e0e0e0;
                }
                .list-panel .list .item .around .shop-info{
                    margin:0 0 0 0;
                    padding:0.5em 0 0 0;
                }
                    .list-panel .list .item .around .shop-info .p{
                        margin:0 0.8em 0 0;
                        font-size:1em;
                        font-family:Arial;
                        color:#2c2c2c;
                    }
                    .list-panel .list .item .around .shop-info .lnk{
                        font-size:1em;
                        color:#449cbc;
                    }
                .list-panel .list .item .around .shop-info-right{
                    margin:0 0 0 0;
                    padding:0.5em 0 0 0;
                    text-align:right;
                }
                    .list-panel .list .item .around .shop-info-right .lnk{
                        margin:0 0.2em 0 0;
                        font-size:1em;
                        color:#449cbc;
                    }

                    
._selector-model {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
._selector {
    width: 100%;
    height: auto;
    font-family:Arial;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10001;
    overflow: auto;
}
    ._selector ._head{
        width: 100%;
        height: auto;
        margin:0 0 0 0;
        padding:0.8em 0 0.8em 0;
        border-bottom:1px solid #d5d5d5;
        position:relative;
    }
        ._selector ._head ._tit{
            width: 100%;
            height: auto;
            margin:0 0 0 0;
            text-align:center;
            font-size:0.9em;
            color:#2c2c2c;
        }
        ._selector ._head ._close{
            width: 1.8em;
            height: auto;
            margin:0 0 0 0;
            text-align:center;
            font-size:1.6em;
            position:absolute;
            top:0.35em;
            left:0;
        }
        ._selector ._head ._clear{
            width: 2em;
            height: auto;
            margin:0 0 0 0;
            text-align:center;
            font-size:0.9em;
            color: #3E9EC0;
            position:absolute;
            top:0.8em;
            right:1em;
        }
    ._selector ._list{
        width: 100%;
        height: auto;
        margin:0 0 0 0;
        padding:0 0 2em 0;
        display:table;
    }
        ._selector ._list ._item{
            width: 90%;
            height: auto;
            margin:0 auto 0 auto;
            padding:1.1em 0 1.1em 0;
            font-size:0.9em;
            color:#000;
            border-bottom:1px solid #d5d5d5;
            position:relative;
        }
            ._selector ._list ._item ._icon{
                display:none;
            }
        ._selector ._list ._item-seled{

        }
            ._selector ._list ._item-seled ._icon{
                width: 2em;
                height: auto;
                position:absolute;
                top:0.8em;
                right:0;
                font-size:1.3em;
                font-weight:bold;
                color: #3E9EC0;
                text-align:center;
                display:inline-block;
            }