@charset "UTF-8";
html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: #fff;
  -webkit-user-select: none;
  user-select: none; }

/*��ֹ����������ͼƬ�����˵�*/
a, img {
  -webkit-touch-callout: none; }

.hide {
  display: none; }

.dc-panel {
  width: 100%;
  height: auto; }

.dc-panel .top-pic img {
  width: 100%; }

.dc-panel .menu-panel-base {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  padding: 0.25em 0 0.2em 0;
  display: table;
  background: #fff; }

.dc-panel .menu-panel {
  width: 96%;
  height: auto;
  margin: 0 auto 0 auto;
  display: table; }

.dc-panel .menu-panel-fixed {
  position: fixed;
  top: -8px;
  left: 0;
  z-index: 10;
  padding-bottom: 0em; }

.dc-panel .menu-panel ul {
  width: 100%;
  height: auto;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.dc-panel .menu-panel ul li {
  width: 25%;
  height: auto;
  margin: 0 0 0 0;
  padding: 0.5em 0 0.5em 0;
  float: left;
  text-align: center;
  color: #222; }

.dc-panel .menu-panel ul .l-def-1 {
  width: 25%;
  height: auto;
  float: left;
  margin: 0 0 0 0;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px; }

.dc-panel .menu-panel ul .l-def-1-2 {
  border-right: none; }

.dc-panel .menu-panel ul .c-def-1 {
  width: 25%;
  height: auto;
  float: left;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none; }

.dc-panel .menu-panel ul .c-def-2 {
  width: 25%;
  height: auto;
  float: left;
  border: 1px solid #ccc;
  border-right: none; }

.dc-panel .menu-panel ul .c-def-2-2 {
  border-left: none; }

.dc-panel .menu-panel ul .r-def-1 {
  width: 25%;
  height: auto;
  float: left;
  border: 1px solid #ccc;
  border-radius: 0px 5px 5px 0px; }

.dc-panel .menu-panel ul .r-def-1-2 {
  border-left: none; }

.dc-panel .menu-panel ul .sel {
  border: 1px solid #3e9ec0;
  color: #3e9ec0; }

.dc-panel .tab {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  display: table; }

.dc-panel .tab .group {
  width: 100%;
  height: auto;
  margin: 0 0 0.5em 0;
  display: table; }

.dc-panel .tab .group .t1 {
  width: 65%;
  height: auto;
  margin: 1.8em auto 0.6em auto;
  text-align: center;
  border-top: 1px solid #000;
  position: relative;
  display: table; }

.dc-panel .tab .group .t1 div {
  width: auto;
  height: auto;
  margin: -0.9em auto 0 auto;
  padding: 0 0.5em 0 0.5em;
  text-align: center;
  color: #222;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  background: #fff;
  display: table; }

.dc-panel .tab .group .t2 {
  width: 95%;
  height: auto;
  margin: 0.5em auto 0.1em auto;
  display: table;
  color: #3e9ec0;
  font-size: 1.1em; }

.dc-panel .tab .group .list {
  width: 95%;
  height: auto;
  margin: 0 auto 0 auto;
  display: table; }

.dc-panel .tab .group .list-line {
  border-bottom: 1px solid #eee;
  margin-bottom: 1.2em; }

.dc-panel .tab .group .list .item {
  width: 100%;
  height: auto;
  margin: 0.7em auto 0.9em auto;
  padding: 0 0 0.7em 0;
  display: table; }

.dc-panel .tab .group .list .item-line {
  border-bottom: 1px solid #eee; }

.dc-panel .tab .group .list .item .r1 {
  width: 100%;
  height: auto;
  margin: 0 0 0 0; }

.dc-panel .tab .group .list .item .r1 .t {
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  position: relative; }

.dc-panel .tab .group .list .item .r1 .t div {
  font-size: 0.6em;
  color: #EA5144;
  position: absolute;
  margin: 0 0 1.6em 0.3em;
  padding: 0 0 0 0;
  display: inline-block; }

.dc-panel .tab .group .list .item .r1 span {
  width: auto;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 1.1em 0 0;
  float: right;
  background: url(../../images/icon-aarow7.png) no-repeat right 0.4em;
  background-size: 1.3em;
  color: #f07c0a; }

.dc-panel .tab .group .list .item .r2 {
  width: 100%;
  height: auto;
  margin: 0.1em 0 0.2em 0;
  padding: 0 0 0 0;
  color: #888;
  font-size: 0.9em; }

.dc-bottom-tel {
  width: 55%;
  height: auto;
  border: 1px solid #d5d5d5;
  margin: 1em auto 1.5em auto;
  padding: 0.3em 0 0.3em 0;
  text-align: center; }

.dc-bottom-tel .lab {
  width: 100%;
  height: 1em;
  text-align: center;
  color: #2c2c2c;
  font-size: 0.9em; }

.dc-bottom-tel .tel {
  width: 100%;
  height: 1em;
  text-align: center;
  color: #3E9EC0;
  font-size: 0.9em;
  font-family: Arial; }
