@using WHotelSite
@using WHotelSite.App_Code
@using WHotelSite.Params
@{
    Layout = null;

    var skuid = ViewBag.SKUID;
    var isApp = ViewBag.IsApp;

    //当前环境 (1wap/2web/3app/4weixin)
    ProductService.Contracts.Entity.ProductServiceEnums.SceneType stype = ViewBag.SType;

    var AppType = ViewBag.AppType;
    var AppVerForIOS = ViewBag.AppVerForIOS;
    var AppVerForAndroid = ViewBag.AppVerForAndroid;
    var IsLatestVerApp = ViewBag.IsLatestVerApp;

    //用户信息（包含会员身份）
    UserInfoResult userInfo = ViewBag.UserInfo;
    var userid = ViewBag.UserId;

    //是否VIP
    var isVip = ViewBag.IsVip;

    var pageTitle = "确认订单";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@(pageTitle)</title>
    <meta name="keywords" content="@ViewBag.PageKeywords" />
    <meta name="description" content="@ViewBag.PageDescription" />
    <meta name="copyright" content="2013, zmjiudian.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">

    <link href="~/Content/css/framework/zmjd.modal.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework/zmjd.swiper.min.css" rel="stylesheet" />
    <link href="/Content/css/framework/util.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <link href="/content/css/product/packageconfirm.css?v=@(Helpers.curAppVer())" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }

        .login-section {
            font-size: 0.8em;
        }
    </style>
</head>
<body>

    <div class="date">
        已选择“6月10日 周五出发”
    </div>
    <div class="person">
        <div class="tit">出行人数及房间数</div>
        <div class="tit2">携带婴儿（0-2岁）需单独购票，详情询问客服</div>
        <div class="set-item">
            <div class="l">成人</div>
            <div class="r"><span class="zmjd-iconfont min">&#xe640;</span><span class="num">2</span><span class="zmjd-iconfont plus">&#xe641;</span></div>
            <div style="clear:both;"></div>
        </div>
        <div class="set-item">
            <div class="l">儿童</div>
            <div class="r"><span class="zmjd-iconfont min">&#xe640;</span><span class="num">1</span><span class="zmjd-iconfont plus">&#xe641;</span></div>
            <div style="clear:both;"></div>
        </div>
        <div class="set-item">
            <div class="l">房间数</div>
            <div class="r"><span class="zmjd-iconfont min">&#xe640;</span><span class="num">1</span><span class="zmjd-iconfont plus">&#xe641;</span></div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="confirm">
        <div class="confirm-btn">确定</div>
    </div>

    <script src="~/Content/js/jquery-1.10.2-min.js"></script>
    <script src="~/Content/js/framework/config.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/vue.min.js"></script>
    <script src="~/Content/js/framework/zmjd.modal.min.js"></script>
    <script src="~/Content/js/framework/zmjd.swiper.min.js"></script>
    <script src="~/Content/js/framework/zmjiudian.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/product/packageconfirm.js?v=@(Helpers.curAppVer())"></script>
</body>
</html>
