body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background:#f0f0f0;
}

a {
    text-decoration:none;
}

/*exchange*/
.ex-panel {
    width:100%;
    max-width:660px;
    height:auto;
    margin:0 auto 0 auto;
    font-size:0.9em;
}
.ex-group-panel {
    width:100%;
    max-width:660px;
    height:auto;
    margin:0 auto 1em auto;
    padding:1em 0 1em 0;
    border-bottom:1px solid #dcdcdc;
    background:#fff;
    display:inline-table;
}
    .ex-group-panel .basic-panel{
        width:90%;
        height:auto;
        margin:0 0 0 6.5%;
        display:inline-table;
    }
        .ex-group-panel .basic-panel .left-panel{
            width:21%;
            height:auto;
            text-align:right;
            float:left;
        }
            .ex-group-panel .basic-panel .left-panel span{
                line-height:1em;
                color:#888;
                font-size:1em;
            }
        .ex-group-panel .basic-panel .right-panel{
            width:73.5%;
            height:auto;
            text-align:left;
            float:right;
        }
            .ex-group-panel .basic-panel .right-panel .left-item{
                width:88%;
                height:auto;
                text-align:left;
                float:left;
            }
            .ex-group-panel .basic-panel .right-panel .right-item{
                width:10%;
                height:auto;
                text-align:center;
                float:right;
            }
                .ex-group-panel .basic-panel .right-panel .right-item img{
                    width:0.4em;
                }
    .ex-group-panel .top-package{
        height:auto;
        margin-bottom:1em;
        padding:0.5em 0 0.8em 0;
        border-bottom:1px solid #eee;
    }
    .ex-group-panel .top-package-hotelname{
        line-height:1.2em;
        font-size:1.1em;
        color:#333;
    }
    .ex-group-panel .top-package-pname{
        line-height:1.5em;
        font-size:1em;
        color:#333;
    }
    .ex-group-panel .top-checktime{
        height:auto;
        line-height:1em;
        margin-top:0.4em;
        margin-bottom:0.4em;
    }
        .ex-group-panel .top-checktime .top-checktime-item{
            width:auto;
            height:1em;
            font-size:1em;
            font-family:Arial;
            color:#333;
        }
    .ex-group-panel .top-users{
        height:auto;
        margin-bottom:1em;
        padding:0em 0 1em 0;
        border-bottom:1px solid #eee;
    }
        .ex-group-panel .top-users .top-users-input{
            width:98%;
            line-height:1.2em;
            font-size:1em;
            border:0px solid #ccc;
            padding:0;
            margin:0;
            outline:none
        }
    .ex-group-panel .top-phone{
        height:auto;
    }
        .ex-group-panel .top-phone .top-phone-input{
            width:98%;
            line-height:1.2em;
            font-size:1em;
            border:0px solid #ccc;
            padding:0;
            margin:0;
            outline:none
        }
    .ex-group-panel .top-other{
        height:auto;
        margin-bottom:1em;
        padding:0.5em 0 0.8em 0;
        border-bottom:1px solid #eee;
    }
    .ex-group-panel .top-other2{
        height:auto;
    }
        .ex-group-panel .top-other2 .top-info-input{
            width:98%;
            line-height:1.4em;
            font-size:1em;
            border:0px solid #ccc;
            outline:none;
            vertical-align:top;
        }
.ex-ctrl-panel {
    width:100%;
    max-width:660px;
    height:auto;
    margin:0.5em auto 2em auto;
}
.ex-exchange-btn {
    width:90%;
    height:2.4em;
    line-height:2.4em;
    margin:0 auto 0 auto;
    font-size:1.2em;
    text-align:center;
    color:#fff;
    background:#ff8000;
    border-radius: 5px;
}

.icheck-panel {
    height:1em;
    line-height:1.3em;
}
    .icheck-panel .item-div{
        float:left;
        font-size:0.8em;
        color:#333;
    }
    .icheck-panel input {
        display:inline-table;
        *display:inline;
        display:inline\0;
        height: 22px; width: 22px;
        *height: 22px; *width: 22px;
        height: auto\0; width: auto\0;
        margin: 0 0 0 0.5em !important;
        border:none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff url(../../images/hotel/check-blue1.png) -66px top;
        vertical-align:middle;
        outline:none;
    }
    .icheck-panel input:checked {
        background-position: -22px 0;
    }
    .icheck-panel label {
        display:inline-table;
        *display:inline;
        display:inline\0;
        margin: 0 0.6em 0 0.1em !important;
        padding:0 !important;
        vertical-align:middle;
        cursor: pointer;
    }

/**/

/*ex result*/

.ex-result-main {
    width:100%;
    height:auto;
    background:#fff;
    border-bottom:1px solid #dcdcdc;
}
    .ex-result-main .tit{
        width:90%;
        height:auto;
        line-height:1em;
        margin:0 auto 0 auto;
        padding:2.3em 0 3.6em 0;
        font-size:1.2em;
        text-align:center;
    }
        .ex-result-main .tit img{
            width:1.3em;
            margin:0 0 0 0;
            vertical-align:middle;
            margin:0 0.3em 0.4em 0;
        }
        .ex-result-main .tit .small-tip{
            width:100%;
            height:auto;
            font-size:0.8em;
            color:#999;
            text-align:center;
        }
    .ex-result-main .hotel {
        width:90%;
        height:auto;
        margin:0 auto 0 auto;
        padding:1.3em 0 1.3em 0;
        border-top:1px solid #dcdcdc;
    }
        .ex-result-main .hotel .left{
            width:25%;
            float:left;
            color:#666;
        }
        .ex-result-main .hotel .right{
            width:auto;
            max-width:74%;
            float:right;
            color:#333;
            text-align:left;
        }
.ex-result-ctrl {
    width:100%;
    margin:1em 0 0 0;
}
    .ex-result-ctrl .left{
        width:50%;
        float:left;
    }
        .ex-result-ctrl .left .lookmineno{
            width:90%;
            height:2.4em;
            line-height:2.4em;
            margin:0 0.2em 0 auto;
            font-size:1.2em;
            text-align:center;
            color:#fff;
            background:#ff8000;
            border-radius: 3px;
        }
    .ex-result-ctrl .right{
        width:50%;
        float:right;
    }
        .ex-result-ctrl .right .backhome{
            width:90%;
            height:2.4em;
            line-height:2.4em;
            margin:0 auto 0 0.2em;
            font-size:1.2em;
            text-align:center;
            color:#fff;
            background:#bababa;
            border-radius: 3px;
        }

/**/


.alert-rulesmsg {
    width:100%;
    height:auto;
    line-height:1.3em;
    text-align:center;
    font-size:1em;
}
.alert-rulesmsg .h{
    line-height:1.5em;
    color:#DE7F23;
    font-size:1em;
}
.alert-ruleslink {
    width:6.5em;
    height:1.5em;
    line-height:1.5em;
    margin:0 auto 0 auto;
    margin-top:2em;
    padding:0 0 0 1.1em;
    text-align:center;
    color:#a9a9a9;
    font-size:1.5em;
    background: url(../images/inspector/brown/ask.png) no-repeat center left;
    background-size:1.1em;
}