@charset "UTF-8";

html, body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #eee;
    -webkit-user-select: none;
    user-select: none;
    font-family:Arial;
    font-size:1em;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, img {
    -webkit-touch-callout: none;
}

.tab-list {
    width: 100%;
    height: 3.011em;
    margin: 0 0 0 0;
    position: fixed;
    top:0;
    left:0;
    z-index:101;
    overflow: hidden;
    -ms-touch-action: none;
    cursor: pointer;
    display: table;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.12);
}

    .tab-list .scrollLine {
        width: auto;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: table;
        white-space: nowrap;
        background: #fff;
        /*border-bottom: 1px solid #e0e0e0;*/
    }

        .tab-list .scrollLine .t-space {
            width: 0.9em;
            height: 2em;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-table;
        }

        .tab-list .scrollLine .t-space2 {
            width: 1.8em;
            height: 2em;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-table;
        }

        .tab-list .scrollLine .t-item {
            width: 150px;
            height: 2em;
            line-height: 2.1em;
            margin: 0 0 0 0;
            padding: 0.5em 0 0.3em 0;
            display: inline-table;
            text-align: center;
        }

        .tab-list .scrollLine .sel {
            color: #3E9EC0;
            border-bottom: 2px solid #3E9EC0;
        }

.tab-list-active {
    width: 100%;
    height: 3.08em;
    margin: 0 0 0 0;
    position: relative;
    overflow: hidden;
    -ms-touch-action: none;
    cursor: pointer;
    display: table;
    background: #ECD9B4;
}

    .tab-list-active .scrollLine {
        width: auto;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: table;
        white-space: nowrap;
        border-bottom:none;
    }

        .tab-list-active .scrollLine .t-space {
            width: 0.9em;
            height: 2em;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-table;
        }

        .tab-list-active .scrollLine .t-space2 {
            width: 1.8em;
            height: 2em;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-table;
        }

        .tab-list-active .scrollLine .t-item {
            width: 150px;
            height: 2.2em;
            line-height: 2.3em;
            margin: 0 0 0 0;
            padding: 0.5em 0 0.3em 0;
            display: inline-table;
            text-align: center;
            color:#B98E37;
            border-bottom:none;
        }

        .tab-list-active .scrollLine .sel {
            color: #fff;
            background: #B98E37;
            border-bottom:none;
        }

.scroll-div {
    /*width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;*/
}

.more-hide {
    display: none;
}

.scrollpageloading {
    width: 100%;
    height: auto;
    margin:2em 0 3em 0;
    text-align: center;
    display:table; 
}

    .scrollpageloading img {
        width: 4em;
        margin: 0 auto 0 auto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
        /*border:1px solid #e0e0e0;*/
        border-radius:4em;
        overflow:hidden;
    }

    .scrollpageloading .img-first {
        width: 4em;
        margin: 8em auto 0 auto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
        /*border:1px solid #e0e0e0;*/
        border-radius:4em;
        overflow:hidden;
        display:table;
    }

    .scrollpageloading div {
        width: 100%;
        padding: 1em 0 1em 0;
        text-align: center;
        color: #999;
        font-size: 0.8em;
    }

.more-seat-slider {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}

    .more-seat-slider img {
        width: 90%;
        margin:0 auto 0 auto;
        display:table;
    }

#more-vue-obj {
    margin:0em 0 0 0;
}

.more-olist-panel {
    width: 100%;
    height: auto;
    margin: 0.8em auto 0 auto;
    font-family:Arial;
}
    .more-olist-panel .null-list{
        width: 100%;
        height: auto;
    }
        .more-olist-panel .null-list img{
            width: 40%;
            margin: 3em auto 0 auto;
            display:table;
        }
        .more-olist-panel .null-list ._txt{
            width: 100%;
            height: auto;
            margin: 0.6em auto 0 auto;
            font-size:0.7em;
            color:#919191;
            text-align:center;
        }
    .more-olist-panel .order-item{
        width: 90%;
        height: auto;
        margin: 0 auto 0 auto;
        padding: 0 0 1em 0;
        position: relative;
        text-align: left;
    }
        .more-olist-panel .order-item .date-info{
            width: 100%;
            height: auto;
            margin: 0 auto 0 auto;
            padding: 0.5em 0 0.8em 0;
            font-size:0.8em;
            color:#919191;
        }
        .more-olist-panel .order-item .item-info{
            width: 100%;
            height: auto;
            margin: 0 auto 0 auto;
            padding: 0.5em 0 0.5em 0;
            background: #fff;
            border-radius: 4px;
            overflow:hidden;
            font-size:1em;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.12);
            position:relative;
        }
            .more-olist-panel .order-item .item-info .top-right-tag{
                width: 2.2em;
                height: auto;
                position:absolute;
                right:0;
                top:0;
            }
                .more-olist-panel .order-item .item-info .top-right-tag img{
                    width: 100%;
                }
            .more-olist-panel .order-item .item-info .tit{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0.5em 1rem 0.5em 2.6rem;
                box-sizing:border-box;
                position:relative;
                font-size:1em;
                font-weight:bold;
                color:#2c2c2c;
                text-align:justify;
            }
                .more-olist-panel .order-item .item-info .tit ._icon{
                    width: 1.6em;
                    height:auto;
                    position:absolute;
                    left:0.6em;
                    top:0.4em;
                }
                    .more-olist-panel .order-item .item-info .tit ._icon img{
                        width: 100%;
                    }
            .more-olist-panel .order-item .item-info .package{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0.2em 1rem 0.5em 2.6rem;
                box-sizing:border-box;
                font-size:0.9em;
                color:#555;
            }
                .more-olist-panel .order-item .item-info .package .name{
                    width: 74%;
                    height: auto;
                    font-size:1em;
                    color:#555;
                    float:left;
                    display:table;
                    text-align:justify;
                }
                .more-olist-panel .order-item .item-info .package .price{
                    width: 26%;
                    height: auto;
                    padding:0.1em 0.1em 0 0;
                    font-size:1.1em;
                    color:#fe8000;
                    text-align:right;
                    float:right;
                    box-sizing:border-box;
                }
            .more-olist-panel .order-item .item-info .others{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0.1em 1rem 0.5em 2.6rem;
                box-sizing:border-box;
                font-size:0.8em;
                color:#919191;
                text-align:justify;
            }
                .more-olist-panel .order-item .item-info .others .h{
                    color:#fe8000;
                }
            .more-olist-panel .order-item .item-info .ctrl{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0.8em 1rem 0.5em 2.6rem;
                box-sizing:border-box;
                font-size:0.8em;
            }
                .more-olist-panel .order-item .item-info .ctrl .state{
                    width: 6.5em;
                    height: auto;
                    margin:0.3em 0 0 0;
                    font-size:1em;
                    color:#919191;
                    float:left;
                    box-sizing:border-box;
                }
                .more-olist-panel .order-item .item-info .ctrl .state-1{
                    color:#fe8000;
                }
                .more-olist-panel .order-item .item-info .ctrl .btns{
                    width: calc(100% - 6.5em);
                    height: auto;
                    color:#fe8000;
                    text-align:right;
                    float:right;
                }
                    .more-olist-panel .order-item .item-info .ctrl .btns .go-detail-btn{
                        width: auto;
                        height: auto;
                        margin:0 0 0 0.5em;
                        padding:0.3em 1em 0.3em 1em;
                        border:1px solid #555;
                        border-radius:4px;
                        color:#555;
                        text-align:center;
                        text-decoration:none;
                        background:#fff;
                        display:inline-block;
                    }
                    .more-olist-panel .order-item .item-info .ctrl .btns .go-exchange-btn {
                        width: auto;
                        height: auto;
                        margin: 0 0 0 0.5em;
                        padding: 0.3em 1em 0.3em 1em;
                        border: 1px solid #3E9EC0;
                        border-radius: 4px;
                        color: #fff;
                        text-align: center;
                        text-decoration: none;
                        background: #3E9EC0;
                        display: inline-block;
                    }
                    .more-olist-panel .order-item .item-info .ctrl .btns .go-reserve-btn {
                        width: auto;
                        height: auto;
                        margin: 0 0 0 0.5em;
                        padding: 0.3em 1em 0.3em 1em;
                        border: 1px solid #3E9EC0;
                        border-radius: 4px;
                        color: #fff;
                        text-align: center;
                        text-decoration: none;
                        background: #3E9EC0;
                        display: inline-block;
                    }
                    .more-olist-panel .order-item .item-info .ctrl .btns .go-pay-btn{
                        width: auto;
                        height: auto;
                        margin:0 0 0 0.5em;
                        padding:0.3em 1em 0.3em 1em;
                        border:1px solid #fe8000;
                        border-radius:4px;
                        color:#fe8000;
                        text-align:center;
                        text-decoration:none;
                        display:inline-block;
                    }
            .more-olist-panel .order-item .item-info .more-detail{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0.5em 0 0em 0;
                box-sizing:border-box;
                font-size:0.8em;
            }
            .more-olist-panel .order-item .item-info .more-ctrl{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 1.2em 1rem 0.5em 2.6rem;
                box-sizing:border-box;
                font-size:0.8em;
                text-align:right;
            }
                .more-olist-panel .order-item .item-info .more-ctrl .more-detail-btn{
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    font-size:1em;
                    color:#555;
                    text-align:center;
                    text-decoration:none;
                }
        .more-olist-panel .order-item .item-info-child{
            padding: 0.8em 0 0.8em 0;
            font-size:1rem;
            background:#f5f5f5;
            border-top:6px solid #fff;
            border-radius: 0px;
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
        }
