html, body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #f0f0f0;
    -webkit-user-select:none; 
    user-select: none;
}

/*禁止长按链接与图片弹出菜单*/
a,img { -webkit-touch-callout: none }

.a-panel {
    
}
    .a-panel .lg{
        width:100%;
        height:auto;
        text-align:center;    
    }
        .a-panel .lg img{
            width:5em;
            margin:4em auto 0 auto;
            border-radius:0.5em;
        }
        .a-panel .lg .t1{
            width:100%;
            margin:0.3em auto 0.3em auto;
            text-align:center;
            color:#919191;
            font-family:Arial;
            font-size:0.8em;
        }
        .a-panel .lg .t2{
            width:100%;
            text-align:center;
            color:#333;
            font-size:0.8em;
        }
    .a-panel .brief{
        width:88%;
        height:auto;
        margin:5em auto 0 auto;
        color:#333;
        font-size:0.8em;
        font-family:Arial;
    }
    .a-panel .us-cts {
        width:100%;
        height:auto;
        margin:0.5em auto 0 auto;
        padding:0.2em 0 0.2em 0;
        background:#fff;
    }
        .a-panel .us-cts .l{
            width:88%;
            height:auto;
            margin:0 auto 0 auto;
            padding:1em 0 1em 0;
            color:#888;
            font-size:0.8em;
            font-family:Arial;
        }
        .a-panel .us-cts .bdr{
            border-bottom:1px solid #eee;
        }
footer {
    width:100%;
    margin:1em auto 0 auto;
}
    footer .n{
        width:100%;
        text-align:center;
        color:#919191;
        font-size:0.7em;
    }



