<?xml version="1.0" encoding="utf-8" ?>

<appSettings>

  <!--UDP 接收服务器-->
  <add key="UDPTraceIP" value="192.168.100.145"/>
  <!--UDP 发送端口-->
  <add key="UDPTracePort" value="8009"/>
  <!--UDP 发送级别，0不发，1发送，级别顺序为：Lowest|Low|Normal|High|Highest-->
  <add key="UDPPriority" value="0|0|0|0|1"/>

  <add key="CacheWeixinVer" value="A"/>

  <add key="hotCitys" value="北京,上海,广州,深圳,武汉,南京,成都" />

  <add key="WeiXinAPPID" value="wxb79a37b190594d96" />
  <add key="WeiXinSecret" value="3750a02b64cfb850900053ea7f9469f1"/>

  <add key="RabbitmqHostName" value="192.168.1.113" />
  <add key="RabbitmqHostName2" value="121.40.252.219" />
  <add key="RabbitmqHostName1" value="localhost" />
  <add key="RabbitmqUserName" value="zmjd" />
  <add key="RabbitmqPassword" value="zmjdpassword01!" />
  
</appSettings>