@charset "UTF-8";
html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family:Arial;
  background: #fff;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden; 
}

/*禁止长按链接与图片弹出菜单*/
a, img {
  -webkit-touch-callout: none; }

.active-seaction {
}

    .active-seaction .banner{
        width:100%;
        margin:0 auto 0 auto;
    }
        .active-seaction .banner img{
            width:100%;
        }
    .active-seaction .rules{
        width:100%;
        margin:0 auto 0 auto;
    }
        .active-seaction .rules img{
            width:100%;
        }

.tab-list {
    width: 100%;
    height: 3.08em;
    margin: 0 0 0 0;
    position: relative;
    overflow: hidden;
    -ms-touch-action: none;
    cursor: pointer;
    display: table;
    background: #fff;
}

    .tab-list .scrollLine {
        width: auto;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: table;
        white-space: nowrap;
        border-bottom: 1px solid #e0e0e0;
    }

        .tab-list .scrollLine .t-space {
            width: 0.9em;
            height: 2em;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-table;
        }

        .tab-list .scrollLine .t-space2 {
            width: 1.8em;
            height: 2em;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-table;
        }

        .tab-list .scrollLine .t-item {
            width: 150px;
            height: 2em;
            line-height: 2.1em;
            margin: 0 0 0 0;
            padding: 0.5em 0 0.3em 0;
            display: inline-table;
            text-align: center;
        }

        .tab-list .scrollLine .sel {
            color: #3E9EC0;
            border-bottom: 2px solid #3E9EC0;
        }

.tab-detail-list-sel {
    display:block;
}
.tab-detail-list-hid {
    display:none;
}

.tab-detail-list {
    width:100%;
    height:auto;
}
    .tab-detail-list .item{
        width:90%;
        height:auto;
        margin:1.2em auto 0 auto;
        padding:0 0 1.2em 0;
        border-bottom:1px solid #e0e0e0;
        position:relative;
    }
        .tab-detail-list .item .pic{
            width:100%;
            height:auto;
            margin:0 auto 0 auto;
            padding:0 0 0 0;
        }
            .tab-detail-list .item .pic img{
                width:100%;
                border-radius:4px;
            }
        .tab-detail-list .item .active-tip{
            width:100%;
            height:1.5em;
            line-height:1.5em;
            margin:0 auto 0 auto;
            padding:0.6em 0 0em 0;
            position:relative;
        }
            .tab-detail-list .item .active-tip .icon{
                width:3.2em;
                height:auto;
                margin:0 0.5em 0 0;
                float:left;
                vertical-align:top;
            }
                .tab-detail-list .item .active-tip .icon img{
                    width:100%;
                }
            .tab-detail-list .item .active-tip .tip{
                width:calc(100% - 5em);
                height:auto;
                margin:0 0 0 0;
                font-size:0.8em;
                font-family:Arial;
                color:#555;
                float:left;
            }
            .tab-detail-list .item .active-tip .tip-red{
                color:#fe8000;
            }
        .tab-detail-list .item .name-1{
            width:100%;
            height:2.2em;
            line-height:2.4em;
            padding:0 0 0 0;
            font-size:1em;
            font-weight:bold;
            color:#2c2c2c;
            overflow:hidden;
			-webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
        }
        .tab-detail-list .item .name-2{
            width:100%;
            height:auto;
            line-height:1.4em;
            padding:0 0 0 0;
            font-size:0.8em;
            color:#919191;
            overflow:hidden;
			-webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
        }
        .tab-detail-list .item .desc-1{
            width:100%;
            height:auto;
            line-height:1.5em;
            padding:0 0 0.5em 0;
            font-size:0.9em;
            color:#919191;
        }
        .tab-detail-list .item .short-line{
            width:4em;
            margin:1em 0 0 0;
            padding:0 0 1em 0;
            border-top:1px solid #e0e0e0;
        }
        .tab-detail-list .item .price {
            width: 100%;
            height: auto;
            line-height: 1em;
            margin: 1em 0 0 0;
            padding: 0 0 0 0;
            display: table;
        }

            .tab-detail-list .item .price .atv-price {
                color: #f07c0a;
                font-size: 1.4em;
                font-family: arial;
                margin: 0 0.3em 0 0;
                padding: 0 0 0 0;
            }

                .tab-detail-list .item .price .atv-price .p-lab {
                    font-size: 0.8rem;
                    color: #f07c0a;
                }
                .tab-detail-list .item .price .atv-price .p-un {
                    font-size: 0.8rem;
                    color: #f07c0a;
                    letter-spacing: -2px;
                }

            .tab-detail-list .item .price .del-price {
                color: #919191;
                font-size: 0.8em;
                font-family: arial;
            }

                .tab-detail-list .item .price .del-price .p-un {
                    color: #ccc;
                    letter-spacing: -3px;
                }
        .tab-detail-list .item .buy-section {
            width: 100%;
            height: auto;
            margin: 0 auto 0 auto;
            padding: 0 0 0 0;
        }
            .tab-detail-list .item .buy-section ._l {
                width: calc(100% - 6em);
                height: auto;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                float:left;
            }
                .tab-detail-list .item .buy-section ._l .price-info{
                    width: 100%;
                    height: auto;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                }
                    .tab-detail-list .item .buy-section ._l .price-info .p{
                        color: #f07c0a;
                        font-size: 1.4em;
                        font-family: arial;
                        margin: 0 0.3em 0 0;
                        padding: 0 0 0 0;
                    }
                        .tab-detail-list .item .buy-section ._l .price-info .p .p-lab{
                            font-size: 0.8rem;
                            color: #f07c0a;
                        }
                        .tab-detail-list .item .buy-section ._l .price-info .p .p-un{
                            font-size: 0.8rem;
                            color: #f07c0a;
                            letter-spacing: -1px;
                        }
                    .tab-detail-list .item .buy-section ._l .price-info .p-0{
                        color: #919191;
                        font-size: 0.8em;
                        font-family: arial;
                    }
            .tab-detail-list .item .buy-section ._r {
                width: 4.5em;
                height: auto;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                float:right;
            }
                .tab-detail-list .item .buy-section ._r .gobuy{
                    width: 100%;
                    height:auto;
                    margin:0 0 0 auto;
                    padding:0.3em 0 0.3em 0;
                    font-size:0.8em;
                    color:#fff;
                    background:#fe8000;
                    border:1px solid #fe8000;
                    border-radius:2px;
                    text-align:center;
                    cursor:pointer;
                }

.scroll-div {
    width: 100%;
    height: 100%;
    /*border:1px solid red;*/
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.gift-coupon-list-model{
    width:100%;
    height:100%;
    margin:0 auto 0 auto;
    padding:0 0 0 0;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(0, 0, 0, 0.8);
}

.gift-coupon-one{
    width:84%;
    height:auto;
    margin:0 auto 0 auto;
    padding:0.5em 0 0 0;
    position:fixed;
    top:13%;
    left:8%;
    z-index:1001;
    font-family:Arial;
    display:table;
}
    .gift-coupon-one .close{
        width:1.5em;
        height:auto;
        margin:0 auto 0 auto;
        padding:0 0 0 0;
        position:absolute;
        right:0em;
        top:-0.5em;
        z-index:1002;
    }
        .gift-coupon-one .close img{
            width:100%;
        }
    .gift-coupon-one .info{
        width:100%;
    }
        .gift-coupon-one .info img{
            width:100%;
        }
    .gift-coupon-one .info2{
        width:100%;
        position:absolute;
        left:0em;
        bottom:0em;
    }
        .gift-coupon-one .info2 img{
            width:100%;
        }
        .gift-coupon-one .info2 .discount-tip{
            width:100%;
            height:auto;
            margin:0 0 0.3em 0;
            font-size:1.1em;
            font-family:Arial;
            font-weight:bold;
            color:#fff;
            text-align:center;
            /*position:absolute;
            left:2em;
            bottom:5.2em;*/
        }

.gift-coupon-list{
    width:84%;
    height:auto;
    margin:0 auto 0 auto;
    padding:0.5em 0 0 0;
    position:fixed;
    top:6%;
    left:8%;
    z-index:1001;
    font-family:Arial;
    display:table;
}
@media (min-height: 720px) {
    .gift-coupon-list{
        top:8%;
    }
}
        .gift-coupon-list .close{
            width:1.5em;
            height:auto;
            margin:0 auto 0 auto;
            padding:0 0 0 0;
            position:absolute;
            right:-0.5em;
            top:0;
            z-index:1002;
        }
            .gift-coupon-list .close img{
                width:100%;
            }
        .gift-coupon-list .top-panel{
            width:100%;
            height:auto;
            line-height:1px;
            margin:0 0 0 0;
            padding:0 0 0 0;
        }
            .gift-coupon-list .top-panel img{
                width:100%;
                border-radius:8px 8px 0 0;
            }
        .gift-coupon-list .top-tip{
            width:100%;
            height:auto;
            margin:0 0 0 0;
            padding:0.3em 0 0.3em 0;
            font-size:0.9em;
            color:#2c2c2c;
            text-align:center;
            background:#fff;
            border-bottom:3px solid #f5f5f5;
        }
            .gift-coupon-list .top-tip .p{
                color:#fe8000;
            }
        .gift-coupon-list .middle-panel{
            width:100%;
            height:auto;
            max-height:320px;
            margin:0 0 0 0;
            padding:0.6em 0 0 0;
            background:#f5f5f5;
            overflow:auto;
            -webkit-box-sizing:border-box;
            -webkit-overflow-scrolling:touch;
        }
        @media (min-width: 410px) {
            .gift-coupon-list .middle-panel{
                max-height:350px;
            }
        }
        @media (max-height: 372px) {
            .gift-coupon-list .middle-panel{
                max-height:220px;
            }
        }
        @media (min-height: 720px) {
            .gift-coupon-list .middle-panel{
                max-height:360px;
            }
        }
    .gift-coupon-list .coupon-list {

    }
        .gift-coupon-list .coupon-list .nolist{
            width: 100%;
            height: auto;
            margin: 0 auto 0 auto;
            padding: 3em 0 0 0;
            display:table;
        }
            .gift-coupon-list .coupon-list .nolist .icon{
                width: 45%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0 0 0 0;
            }
                .gift-coupon-list .coupon-list .nolist .icon img{
                    width: 100%;
                }
            .gift-coupon-list .coupon-list .nolist .tip{
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 2em 0 0 0;
                text-align:center;
                font-size:0.7em;
                color:#555;
            }
        .gift-coupon-list .coupon-list .item{
            width:92%;
            height:auto;
            margin:0 auto 0.5em auto;
            padding:0 0 0 0;
            display:table;
            position:relative;
            cursor:pointer;
        }
            .gift-coupon-list .coupon-list .item .top{
                width:100%;
                height:auto;
                line-height:0.1em;
                margin:0 0 0 0;
                padding:0 0 0 0;
            }
                .gift-coupon-list .coupon-list .item .top img{
                    width:100%;
                }
            .gift-coupon-list .coupon-list .item .line{
                width:100%;
                height:auto;
                line-height:0.1em;
                margin:0 0 0 0;
                padding:0 0 0 0;
            }
                .gift-coupon-list .coupon-list .item .line img{
                    width:100%;
                }
            .gift-coupon-list .coupon-list .item .bottom{
                width:100%;
                height:auto;
                line-height:0.1em;
                margin:0 0 0 0;
                padding:0 0 0 0;
                background:#fff;
            }
                .gift-coupon-list .coupon-list .item .bottom img{
                    width:100%;
                }
            .gift-coupon-list .coupon-list .item .middle{
                width:100%;
                height:auto;
                margin:0 0 0 0;
                padding:0 0 0 0;
                background:url(http://whfront.b0.upaiyun.com/app/img/coupon/walletcashcoupon/coupon-cart-bg.png) repeat-y left top;
                background-size:100%;
            }
                .gift-coupon-list .coupon-list .item .middle .money{
                    width:33%;
                    height:auto;
                    margin:0 0 0 0;
                    padding:1.2em 0 1em 0;
                    float:left;
                    text-align:center;
                }
                    .gift-coupon-list .coupon-list .item .middle .money .val{
                        margin:0 0 0 0;
                        padding:0 0 0 0;
                        font-size:2em;
                        color:#fe8000;
                    }
                    .gift-coupon-list .coupon-list .item .middle .money .val-sml{
                        width:100%;
                        margin:0.3em 0 0 0;
                        padding:0 0 0 0;
                        font-size:1.5em;
                        color:#fe8000;
                        display:table;
                        text-align:center;
                    }
                    .gift-coupon-list .coupon-list .item .middle .money .val-sml-0{
                        color:#919191;
                    }
                .gift-coupon-list .coupon-list .item .middle .info{
                    width:63%;
                    height:auto;
                    margin:0 0 0 0;
                    padding:0.6em 3% 0.6em 0;
                    float:right;
                }
                    .gift-coupon-list .coupon-list .item .middle .info .tit{
                        width:100%;
                        height:auto;
                        margin:0 auto 0 auto;
                        padding:0 0 0 0;
                        font-size:0.9em;
                        font-weight:bold;
                        color:#2c2c2c;
                        position:relative;
                    }
                        .gift-coupon-list .coupon-list .item .middle .info .tit .icon{
                            margin:0 0 0 0.3em;
                            padding:0 0 0 0;
                            font-size:0.9em;
                            font-weight:normal;
                            color:#919191;
                        }
                    .gift-coupon-list .coupon-list .item .middle .info .tit-0{
                        color:#919191;
                    }
                    .gift-coupon-list .coupon-list .item .middle .info .time{
                        width:100%;
                        height:auto;
                        margin:0 auto 0 auto;
                        padding:0 0 0 0;
                        font-size:0.7em;
                        color:#555;
                    }
                    .gift-coupon-list .coupon-list .item .middle .info .detail-link{
                        width:7em;
                        height:auto;
                        margin:0.5em 0 0 0;
                        padding:0 0 0 0;
                        font-size:0.8em;
                        color:#fe8000;
                    }
                    .gift-coupon-list .coupon-list .item .middle .info .detail-link-0{
                        color:#555;
                    }
                .gift-coupon-list .coupon-list .item .middle .state-icon{
                    width:3em;
                    height:auto;
                    margin:0 0 0 0;
                    padding:0 0 0 0;
                    position:absolute;
                    right:0.6em;
                    top:0.6em;
                }
                    .gift-coupon-list .coupon-list .item .middle .state-icon img{
                        width:100%;
                    }
                .gift-coupon-list .coupon-list .item .middle .rule{
                    width:90%;
                    height:auto;
                    margin:0 auto 0 auto;
                    padding:0 0 0.2em 0;
                    font-size:0.8em;
                    color:#919191;
                }

                .gift-coupon-list .coupon-list .item .selected{
                    display:none;
                }

                .gift-coupon-list .coupon-list .item .tag{
                    width:8.5em;
                    height:auto;
                    margin:0 0 0 0;
                    padding:0.1em 0 0.3em 0;
                    font-size:0.7em;
                    color:#fff;
                    text-align:center;
                    display:table;
                    position:absolute;
                    left:-4px;
                    top:5px;
                    background:url(http://whfront.b0.upaiyun.com/app/img/coupon/walletcashcoupon/coupon-cart-tag-bg.png) no-repeat left top;
                    background-size:8.5em;
                }
    .gift-coupon-list .foot-panel{
        width:100%;
        height:auto;
        line-height:0.1em;
        margin:0 0 0 0;
        padding:0.4em 0 0.4em 0;
        background:#fff;
        border-radius:0px 0px 8px 8px;
    }
        .gift-coupon-list .foot-panel .get-ctrl{
            width:100%;
            height:auto;
            margin:0 auto 0 auto;
            padding:0 0 0 0;
        }
            .gift-coupon-list .foot-panel .get-ctrl img{
                width:90%;
                margin:0 auto 0 auto;
                display:table;
            }
.gift-coupon-ball {
    width:3.5em;
    height:auto;
    margin:0 0 0 0;
    padding:0 0 0 0;
    position:fixed;
    right:0;
    top:21%;
    z-index:1000;
}
    .gift-coupon-ball img{
        width:100%;
    }
.weixin-share-tip {
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1900;
    background: rgba(0,0,0,0.80);
    overflow-y:auto;
    -webkit-box-sizing : border-box;
    -webkit-overflow-scrolling : touch;
}
    .weixin-share-tip img{
        width:100%;
    }

.scrollpageloading {
    width: 100%;
    height: auto;
    margin:3em 0 3em 0;
    text-align: center;
    display:table; 
}

    .scrollpageloading img {
        width: 4em;
        margin: 0 auto 0 auto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
        /*border:1px solid #e0e0e0;*/
        border-radius:4em;
        overflow:hidden;
    }