html, body{
    height:100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
    /*-webkit-user-select:none;*/ 
    user-select: none;
    overflow-x: hidden;
    background-image:url(http://whfront.b0.upaiyun.com/www/img/Active/smsactive/sms-weixinuser-bg.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-color: #F4F4F4;
    color:#474747;
}

/*禁止长按链接与图片弹出菜单*/
a,img { -webkit-touch-callout: none }

.one-panel {
    width:90%;
    height:auto;
    margin:7em auto 0 auto;
    padding:0 0 0 0;
    position:relative;
    border-radius:10px;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0 .3);
    -moz-box-shadow:0 0 20px rgba(0, 0, 0, .3);
    box-shadow:0 0 20px rgba(0, 0, 0, .3);
    background:#fff;
    display:table;
}
    .one-panel .head-img{
        width:100%;
        height:auto;
        margin:0 0 0 0;
        padding:0 0 0 0;
        position:absolute;
        top:-3em;
        left:0;
        overflow:hidden;
        text-align:center;
        display:table;
    }
        .one-panel .head-img img{
            width:5.5em;
            height:5.5em;
            margin:0 auto 0 auto;
            padding:0 0 0 0;
            border-radius:5em;
            display:table;
            border:2px solid #fff;
        }
    .one-panel .nickname{
        width:100%;
        height:auto;
        margin:1.6em auto 0 auto;
        padding:1em 0 0.5em 0;
        text-align:center;
        font-size:1.3em;
        font-family:Arial;
        display:table;
    }
    .one-panel .message{
        width:78%;
        height:auto;
        line-height:1.55em;
        margin:0 auto 0 auto;
        padding:1em;
        font-size:0.9em;
        font-family:Arial;
        border:1px solid #e0e0e0;
        border-radius:10px;
        display:table;
        text-align:Justify;
    }
    .one-panel .weixinno{
        width:100%;
        height:auto;
        line-height:1.2em;
        margin:1.6em 0 1.5em 0;
        padding:0 0 0 0;
        font-size:1.1em;
        font-family:Arial;
        color:#3e9ec0;
        text-align:center;
        display:table;
    }
    .one-panel .copy-btn{
        width:60%;
        height:auto;
        line-height:1.2em;
        margin:1em auto 1em auto;
        padding:0.5em 0 0.5em 0;
        font-size:1.1em;
        font-family:Arial;
        text-align:center;
        color:#3e9ec0;
        border:1px solid #3e9ec0;
        border-radius:5px;
        
    }
    .one-panel .tip{
        width:100%;
        height:auto;
        line-height:1.5em;
        margin:0.1em 0 1.5em 0;
        padding:0 0 0 0;
        font-size:0.9em;
        font-family:Arial;
        color:#919191;
        text-align:center;
        display:table;
    }


.foot-txt {
    width:100%;
    height:auto;
    position:relative;
    bottom:0;
    left:0;
}
    .foot-txt img{
        width:100%;
    }

