<?xml version="1.0" encoding="utf-8" ?>

<cachingConfiguration defaultCacheManager="CacheManager">
  <cacheManagers>
    <add name="CacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, 
				 Microsoft.Practices.EnterpriseLibrary.Caching"
          expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
  </cacheManagers>
  <backingStores>
    <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
              name="NullBackingStore" />
  </backingStores>


</cachingConfiguration>