<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CouponDB" connectionString="Server=whotel;UID=sa;password=password01!;database=CouponDB;"	providerName="System.Data.SqlClient" />
  <add name="HotelDB" connectionString="Server=whotel;UID=sa;password=password01!;database=HotelDB;" providerName="System.Data.SqlClient" />
  <add name="TraceLogDB" connectionString="Server=whotel;UID=sa;password=password01!;database=TraceLogDB;" providerName="System.Data.SqlClient" />
  <add name="CommDB_SELECT" connectionString="Server=whotel;UID=sa;password=password01!;database=CommDB;" providerName="System.Data.SqlClient" />
</connectionStrings>